In [1]:
import pandas as pd
import requests
import os
#combine 2019-20 and 2020-21 Team Understat Data
s19_20=pd.read_csv("2019-2020_Team_Understat.csv")
s20_21=pd.read_csv("2020-2021_Team_Understat.csv")
Combine=s20_21.append(s19_20)
Combine
#os.getcwd() - checks my current working directory
#os.listdir(os.getcwd()) - tells me what is in my directory to use relative path

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,ppda,ppda_allowed,deep,deep_allowed,...,xpts,result,date,wins,draws,loses,pts,npxGD,team,Season
0,0,a,2.162870,0.126327,2.162870,0.126327,"{'att': 307, 'def': 14}","{'att': 425, 'def': 13}",11,0,...,2.8937,w,2020-09-12 11:30:00,1,0,0,3,2.036543,Arsenal,20-21
1,1,h,1.329020,2.063770,1.329020,2.063770,"{'att': 217, 'def': 17}","{'att': 420, 'def': 23}",16,4,...,0.8155,w,2020-09-19 19:00:00,1,0,0,3,-0.734750,Arsenal,20-21
2,2,a,1.178170,2.738340,1.178170,2.738340,"{'att': 502, 'def': 14}","{'att': 256, 'def': 29}",3,11,...,0.3972,l,2020-09-28 19:15:00,0,0,1,0,-1.560170,Arsenal,20-21
3,3,h,0.667131,0.144994,0.667131,0.144994,"{'att': 167, 'def': 12}","{'att': 445, 'def': 23}",4,3,...,1.8925,w,2020-10-04 13:00:00,1,0,0,3,0.522137,Arsenal,20-21
4,4,a,0.838322,1.430230,0.838322,1.430230,"{'att': 346, 'def': 17}","{'att': 311, 'def': 23}",3,7,...,0.8436,l,2020-10-17 16:30:00,0,0,1,0,-0.591908,Arsenal,20-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,33,a,0.326909,0.470483,0.326909,0.470483,"{'att': 154, 'def': 13}","{'att': 340, 'def': 18}",2,7,...,1.0775,l,2020-07-08 17:00:00,0,0,1,0,-0.143574,Wolverhampton_Wanderers,19-20
756,34,h,2.867240,0.286561,2.106070,0.286561,"{'att': 287, 'def': 20}","{'att': 354, 'def': 19}",4,3,...,2.8945,w,2020-07-12 11:00:00,1,0,0,3,1.819509,Wolverhampton_Wanderers,19-20
757,35,a,1.285700,1.534350,1.285700,0.773179,"{'att': 180, 'def': 8}","{'att': 201, 'def': 26}",3,6,...,1.0986,d,2020-07-15 17:00:00,0,1,0,1,0.512521,Wolverhampton_Wanderers,19-20
758,36,h,1.486960,0.440119,1.486960,0.440119,"{'att': 240, 'def': 17}","{'att': 257, 'def': 22}",4,1,...,2.3593,w,2020-07-20 19:15:00,1,0,0,3,1.046841,Wolverhampton_Wanderers,19-20
759,37,a,0.164561,1.159380,0.164561,1.159380,"{'att': 392, 'def': 27}","{'att': 198, 'def': 29}",2,7,...,0.4276,l,2020-07-26 15:00:00,0,0,1,0,-0.994819,Wolverhampton_Wanderers,19-20

In [20]:
#Aggregate data into Averages

#return average score,xG,npxG,conceded,xGA,npxGA by team
Agg1=Combine.groupby('team')['scored','xG','npxG','missed','xGA','npxGA']
t1=Agg1.mean()

#return number of games by team
Agg2=Combine.groupby('team')['date']
t2=Agg2.count()


Agg3=Combine.groupby('team')['pts','xpts']
t3=Agg3.sum()

frame=[t2,t1,t3]
Agg4=pd.concat(frame,axis=1)
Agg4.rename(columns = {'date':'played'}, inplace = True)
Agg4

<ipython-input-20-191b3b9bf2a1>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Agg1=Combine.groupby('team')['scored','xG','npxG','missed','xGA','npxGA']
<ipython-input-20-191b3b9bf2a1>:12: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Agg3=Combine.groupby('team')['pts','xpts']

,played,scored,xG,npxG,missed,xGA,npxGA,pts,xpts
team,,,,,,,,,
Arsenal,76,1.460526,1.356179,1.266042,1.144737,1.322165,1.209953,117,108.8648
Aston_Villa,76,1.263158,1.339533,1.247381,1.486842,1.642736,1.520657,90,91.2869
Bournemouth,38,1.052632,1.175554,1.095433,1.710526,1.665641,1.545456,34,39.1979
Brighton,76,1.039474,1.332146,1.221979,1.315789,1.320033,1.229895,82,109.4308
Burnley,76,1.000000,1.150985,1.090892,1.381579,1.485473,1.405152,93,87.6429
Chelsea,76,1.671053,1.906360,1.736100,1.184211,0.947273,0.887181,133,150.8974
Crystal_Palace,76,0.947368,0.917560,0.847452,1.526316,1.569687,1.519610,87,76.2115
Everton,76,1.197368,1.354569,1.294298,1.368421,1.307576,1.227454,108,106.4994
Fulham,38,0.710526,1.080403,0.960219,1.394737,1.516733,1.376517,28,42.4183
Leeds,38,1.631579,1.559438,1.479315,1.421053,1.658473,1.473967,59,51.8098
Leicester,76,1.776316,1.576543,1.386053,1.197368,1.249462,1.109247,128,120.9043
Liverpool,76,2.013158,1.939485,1.829316,0.986842,1.143125,1.052986,168,143.0765
Manchester_City,76,2.434211,2.367374,2.163128,0.881579,0.889617,0.756983,167,170.1380
Manchester_United,76,1.828947,1.702091,1.451708,1.052632,1.052331,0.982224,140,136.6281
Newcastle_United,76,1.105263,1.058565,0.976186,1.578947,1.671750,1.601643,89,74.5684
Norwich,38,0.684211,0.979847,0.939785,1.973684,1.884409,1.740170,21,33.1223
Sheffield_United,76,0.776316,1.039089,0.989013,1.342105,1.554609,1.484501,77,79.2600
Southampton,76,1.289474,1.339226,1.227014,1.684211,1.515014,1.384814,95,101.0384
Tottenham,76,1.697368,1.390758,1.298725,1.210526,1.403665,1.233404,121,103.2415
Watford,38,0.947368,1.277964,1.117718,1.684211,1.566529,1.382182,34,47.8737
West_Bromwich_Albion,38,0.921053,0.920297,0.840174,2.000000,1.948391,1.728055,26,29.5926
West_Ham,76,1.460526,1.439571,1.357333,1.434211,1.555071,1.444902,104,97.9301
Wolverhampton_Wanderers,76,1.144737,1.221619,1.141496,1.210526,1.178729,1.066656,104,108.0791

In [43]:
#Estimate Brentford's xG,npxG,xGA,npxGA using Southampton + Last 3 Relegated Teams (Sheffield United, Fulham, West Brom)

Estimates=['Southampton','Sheffield_United','West_Bromwich_Albion','Fulham']
Season=['20-21']
Base=Combine[Combine.team.isin(Estimates) & Combine.Season.isin(Season)]
Base['team']='Brentford'

#return average score,xG,npxG,conceded,xGA,npxGA for Brentford
Agg1=Base.groupby('team')['scored','xG','npxG','missed','xGA','npxGA']
t1=Agg1.mean()

#return number of games for Brentford
Agg2=Base.groupby('team')['date']
t2=Agg2.count()

#return total points for Brentford
Agg3=Base.groupby('team')['pts','xpts']
t3=Agg3.sum()

frame=[t2,t1,t3]
Agg5=pd.concat(frame,axis=1)
Agg5.rename(columns = {'date':'played'}, inplace = True)
Agg5['played']=Agg5['played']/4
Agg5['pts']=Agg5['pts']/4
Agg5['xpts']=Agg5['xpts']/4
Agg5

<ipython-input-43-d3e0acd880cd>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Base['team']='Brentford'
<ipython-input-43-d3e0acd880cd>:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Agg1=Base.groupby('team')['scored','xG','npxG','missed','xGA','npxGA']
<ipython-input-43-d3e0acd880cd>:17: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Agg3=Base.groupby('team')['pts','xpts']

,played,scored,xG,npxG,missed,xGA,npxGA,pts,xpts
team,,,,,,,,,
Brentford,38.0,0.848684,1.016252,0.916099,1.710526,1.686388,1.53115,30.0,36.5257

In [69]:
Final_Agg=Agg4.append(Agg5)
Final_Agg_2=Final_Agg.reset_index()
Final_Agg_2

,team,played,scored,xG,npxG,missed,xGA,npxGA,pts,xpts
0,Arsenal,76.0,1.460526,1.356179,1.266042,1.144737,1.322165,1.209953,117.0,108.8648
1,Aston_Villa,76.0,1.263158,1.339533,1.247381,1.486842,1.642736,1.520657,90.0,91.2869
2,Bournemouth,38.0,1.052632,1.175554,1.095433,1.710526,1.665641,1.545456,34.0,39.1979
3,Brighton,76.0,1.039474,1.332146,1.221979,1.315789,1.320033,1.229895,82.0,109.4308
4,Burnley,76.0,1.000000,1.150985,1.090892,1.381579,1.485473,1.405152,93.0,87.6429
5,Chelsea,76.0,1.671053,1.906360,1.736100,1.184211,0.947273,0.887181,133.0,150.8974
6,Crystal_Palace,76.0,0.947368,0.917560,0.847452,1.526316,1.569687,1.519610,87.0,76.2115
7,Everton,76.0,1.197368,1.354569,1.294298,1.368421,1.307576,1.227454,108.0,106.4994
8,Fulham,38.0,0.710526,1.080403,0.960219,1.394737,1.516733,1.376517,28.0,42.4183
9,Leeds,38.0,1.631579,1.559438,1.479315,1.421053,1.658473,1.473967,59.0,51.8098
10,Leicester,76.0,1.776316,1.576543,1.386053,1.197368,1.249462,1.109247,128.0,120.9043
11,Liverpool,76.0,2.013158,1.939485,1.829316,0.986842,1.143125,1.052986,168.0,143.0765
12,Manchester_City,76.0,2.434211,2.367374,2.163128,0.881579,0.889617,0.756983,167.0,170.1380
13,Manchester_United,76.0,1.828947,1.702091,1.451708,1.052632,1.052331,0.982224,140.0,136.6281
14,Newcastle_United,76.0,1.105263,1.058565,0.976186,1.578947,1.671750,1.601643,89.0,74.5684
15,Norwich,38.0,0.684211,0.979847,0.939785,1.973684,1.884409,1.740170,21.0,33.1223
16,Sheffield_United,76.0,0.776316,1.039089,0.989013,1.342105,1.554609,1.484501,77.0,79.2600
17,Southampton,76.0,1.289474,1.339226,1.227014,1.684211,1.515014,1.384814,95.0,101.0384
18,Tottenham,76.0,1.697368,1.390758,1.298725,1.210526,1.403665,1.233404,121.0,103.2415
19,Watford,38.0,0.947368,1.277964,1.117718,1.684211,1.566529,1.382182,34.0,47.8737
20,West_Bromwich_Albion,38.0,0.921053,0.920297,0.840174,2.000000,1.948391,1.728055,26.0,29.5926
21,West_Ham,76.0,1.460526,1.439571,1.357333,1.434211,1.555071,1.444902,104.0,97.9301
22,Wolverhampton_Wanderers,76.0,1.144737,1.221619,1.141496,1.210526,1.178729,1.066656,104.0,108.0791
23,Brentford,38.0,0.848684,1.016252,0.916099,1.710526,1.686388,1.531150,30.0,36.5257

In [75]:
#remove relegated teams
drop=['Fulham','West_Bromwich_Albion','Sheffield_United','Bournemouth']
Final=Final_Agg_2[~Final_Agg_2.team.isin(drop)].sort_values('team')
Final['id']=range(1,21)
Final

,team,played,scored,xG,npxG,missed,xGA,npxGA,pts,xpts,id
0,Arsenal,76.0,1.460526,1.356179,1.266042,1.144737,1.322165,1.209953,117.0,108.8648,1
1,Aston_Villa,76.0,1.263158,1.339533,1.247381,1.486842,1.642736,1.520657,90.0,91.2869,2
23,Brentford,38.0,0.848684,1.016252,0.916099,1.710526,1.686388,1.531150,30.0,36.5257,3
3,Brighton,76.0,1.039474,1.332146,1.221979,1.315789,1.320033,1.229895,82.0,109.4308,4
4,Burnley,76.0,1.000000,1.150985,1.090892,1.381579,1.485473,1.405152,93.0,87.6429,5
5,Chelsea,76.0,1.671053,1.906360,1.736100,1.184211,0.947273,0.887181,133.0,150.8974,6
6,Crystal_Palace,76.0,0.947368,0.917560,0.847452,1.526316,1.569687,1.519610,87.0,76.2115,7
7,Everton,76.0,1.197368,1.354569,1.294298,1.368421,1.307576,1.227454,108.0,106.4994,8
9,Leeds,38.0,1.631579,1.559438,1.479315,1.421053,1.658473,1.473967,59.0,51.8098,9
10,Leicester,76.0,1.776316,1.576543,1.386053,1.197368,1.249462,1.109247,128.0,120.9043,10
11,Liverpool,76.0,2.013158,1.939485,1.829316,0.986842,1.143125,1.052986,168.0,143.0765,11
12,Manchester_City,76.0,2.434211,2.367374,2.163128,0.881579,0.889617,0.756983,167.0,170.1380,12
13,Manchester_United,76.0,1.828947,1.702091,1.451708,1.052632,1.052331,0.982224,140.0,136.6281,13
14,Newcastle_United,76.0,1.105263,1.058565,0.976186,1.578947,1.671750,1.601643,89.0,74.5684,14
15,Norwich,38.0,0.684211,0.979847,0.939785,1.973684,1.884409,1.740170,21.0,33.1223,15
17,Southampton,76.0,1.289474,1.339226,1.227014,1.684211,1.515014,1.384814,95.0,101.0384,16
18,Tottenham,76.0,1.697368,1.390758,1.298725,1.210526,1.403665,1.233404,121.0,103.2415,17
19,Watford,38.0,0.947368,1.277964,1.117718,1.684211,1.566529,1.382182,34.0,47.8737,18
21,West_Ham,76.0,1.460526,1.439571,1.357333,1.434211,1.555071,1.444902,104.0,97.9301,19
22,Wolverhampton_Wanderers,76.0,1.144737,1.221619,1.141496,1.210526,1.178729,1.066656,104.0,108.0791,20

In [76]:
Final.to_csv("2019-2021_Agg_Understat.csv")