In [25]:
import requests
import pandas as pd
import os
#pulling me FPL 2021-2022 Fixture Data
response=requests.get("https://fantasy.premierleague.com/api/fixtures/")
j=response.json()
fixtures = pd.DataFrame.from_dict(j)
fixtures[['event','team_a','team_h']].sort_values('event')
pd.melt(fixtures, id_vars =['event'], value_vars =['team_a', 'team_h']
                  var_name='gw',value_name='team_id')

#reading teamID masterlist
#os.getcwd() - checks my current working directory
#os.listdir(os.getcwd()) - tells me what is in my directory to use relative path

SyntaxError: invalid syntax (<ipython-input-25-02a5a03e41e4>, line 10)

In [22]:
teamID=pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2021-22/teams.csv')
cleanteamID=teamID[['id','name','short_name']]
#clean table to include only id,name,short_name

#cleanteam table for home team
cleanteamID_h=cleanteamID
cleanteamID_h.columns=['h_id','team_h_name','team_h_short']
cleanteamID_h

    h_id     team_h_name team_h_short
0      1         Arsenal          ARS
1      2     Aston Villa          AVL
2      3       Brentford          BRE
3      4        Brighton          BHA
4      5         Burnley          BUR
5      6         Chelsea          CHE
6      7  Crystal Palace          CRY
7      8         Everton          EVE
8      9       Leicester          LEI
9     10           Leeds          LEE
10    11       Liverpool          LIV
11    12        Man City          MCI
12    13         Man Utd          MUN
13    14       Newcastle          NEW
14    15         Norwich          NOR
15    16     Southampton          SOU
16    17           Spurs          TOT
17    18         Watford          WAT
18    19        West Ham          WHU
19    20          Wolves          WOL

In [23]:
#join to fixtures and cleanteamID_h on id (home data)
fixtures_names_h=pd.merge(fixtures,cleanteamID_h,left_on="team_h",right_on="h_id")
fixtures_names_h

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id,h_id,team_h_name,team_h_short
0,2210271,1,False,False,1,2021-08-13T19:00:00Z,0,False,False,1,None,3,None,[],3,2,66342,3,Brentford,BRE
1,2210302,4,False,False,32,2021-09-11T14:00:00Z,0,False,False,4,None,3,None,[],2,2,66373,3,Brentford,BRE
2,2210322,6,False,False,52,2021-09-25T16:30:00Z,0,False,False,11,None,3,None,[],4,2,66393,3,Brentford,BRE
3,2210343,8,False,False,73,2021-10-16T14:00:00Z,0,False,False,6,None,3,None,[],4,2,66414,3,Brentford,BRE
4,2210352,9,False,False,82,2021-10-23T14:00:00Z,0,False,False,9,None,3,None,[],4,2,66423,3,Brentford,BRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2210560,29,False,False,290,2022-03-12T15:00:00Z,0,False,False,2,None,19,None,[],2,4,66631,19,West Ham,WHU
376,2210579,31,False,False,309,2022-04-02T14:00:00Z,0,False,False,8,None,19,None,[],4,4,66650,19,West Ham,WHU
377,2210599,33,False,False,329,2022-04-16T14:00:00Z,0,False,False,5,None,19,None,[],2,4,66670,19,West Ham,WHU
378,2210619,35,False,False,349,2022-04-30T14:00:00Z,0,False,False,1,None,19,None,[],3,4,66690,19,West Ham,WHU
379,2210639,37,False,False,369,2022-05-15T14:00:00Z,0,False,False,12,None,19,None,[],4,4,66710,19,West Ham,WHU

In [24]:
#cleanteam table for away team
cleanteamID_a=cleanteamID
cleanteamID_a.columns=['a_id','team_a_name','team_a_short']
cleanteamID_a

    a_id     team_a_name team_a_short
0      1         Arsenal          ARS
1      2     Aston Villa          AVL
2      3       Brentford          BRE
3      4        Brighton          BHA
4      5         Burnley          BUR
5      6         Chelsea          CHE
6      7  Crystal Palace          CRY
7      8         Everton          EVE
8      9       Leicester          LEI
9     10           Leeds          LEE
10    11       Liverpool          LIV
11    12        Man City          MCI
12    13         Man Utd          MUN
13    14       Newcastle          NEW
14    15         Norwich          NOR
15    16     Southampton          SOU
16    17           Spurs          TOT
17    18         Watford          WAT
18    19        West Ham          WHU
19    20          Wolves          WOL

In [25]:
#join to fixture above
fixtures_names=pd.merge(fixtures_names_h,cleanteamID_a,left_on="team_a",right_on="a_id")
fixtures_names

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,...,stats,team_h_difficulty,team_a_difficulty,pulse_id,h_id,team_h_name,team_h_short,a_id,team_a_name,team_a_short
0,2210271,1,False,False,1,2021-08-13T19:00:00Z,0,False,False,1,...,[],3,2,66342,3,Brentford,BRE,1,Arsenal,ARS
1,2210404,14,False,False,134,2021-11-30T20:00:00Z,0,False,False,1,...,[],3,4,66475,13,Man Utd,MUN,1,Arsenal,ARS
2,2210313,5,False,False,43,2021-09-18T14:00:00Z,0,False,False,1,...,[],3,2,66384,5,Burnley,BUR,1,Arsenal,ARS
3,2210513,25,False,False,243,2022-02-12T15:00:00Z,0,False,False,1,...,[],3,4,66584,6,Chelsea,CHE,1,Arsenal,ARS
4,2210412,15,False,False,142,2021-12-04T15:00:00Z,0,False,False,1,...,[],3,3,66483,8,Everton,EVE,1,Arsenal,ARS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2210452,19,False,False,182,2021-12-26T15:00:00Z,0,False,False,3,...,[],2,3,66523,4,Brighton,BHA,3,Brentford,BRE
376,2210446,18,False,False,176,2021-12-18T15:00:00Z,0,False,False,3,...,[],2,2,66517,16,Southampton,SOU,3,Brentford,BRE
377,2210320,5,False,False,50,2021-09-18T11:30:00Z,0,False,False,3,...,[],2,3,66391,20,Wolves,WOL,3,Brentford,BRE
378,2210521,26,False,False,251,2022-02-19T15:00:00Z,0,False,False,3,...,[],2,4,66592,1,Arsenal,ARS,3,Brentford,BRE
379,2210339,7,False,False,69,2021-10-02T14:00:00Z,0,False,False,3,...,[],2,4,66410,19,West Ham,WHU,3,Brentford,BRE

In [26]:
#bring SPI ranking data here and join to fixtures_names
#read in 538 SPI data (needs to scheduled after BPL matchday is completed)
teams = pd.read_csv("https://projects.fivethirtyeight.com/soccer-api/club/spi_global_rankings.csv")
#filtering on Barclays Premier League teams only
select_league='Barclays Premier League'
drop=['Fulham','West Bromwich Albion','Sheffield United']
add=['Brentford','Watford','Norwich City']

Base_BPL=teams[(teams.league==select_league)& ~teams.name.isin(drop)]
Relegated=teams[teams.name.isin(drop)]
Promoted=teams[teams.name.isin(add)]
Promoted["league"].replace({"English League Championship": "Barclays Premier League"}, inplace=True)
#add new promoted teams to EPL list
New_BPL=Base_BPL.append(Promoted)

#sort from A-Z
A_Z=New_BPL.sort_values(['name'])
A_Z.reset_index(inplace=True)
A_Z["id"] = A_Z.index + 1
#A_Z.to_csv('538-Data.csv')
# Select the columns I want
A_Z = A_Z[['id','rank','prev_rank','off','def','spi']]
A_Z

/Users/EddyZulkifly/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

    id  rank  prev_rank   off   def    spi
0    1    13         13  2.18  0.42  83.72
1    2    44         44  2.02  0.82  72.18
2    3    65         65  1.74  0.83  67.01
3    4    25         25  1.97  0.51  78.71
4    5    68         68  1.85  0.92  66.79
5    6     3          3  2.42  0.20  90.53
6    7    96         95  1.69  1.00  61.55
7    8    43         43  1.86  0.70  72.28
8    9    36         36  2.13  0.78  74.94
9   10    26         26  2.14  0.64  78.22
10  11     5          5  2.69  0.40  89.17
11  12     1          1  2.79  0.25  92.42
12  13     8          8  2.41  0.46  85.53
13  14    61         61  1.93  0.94  67.79
14  15    77         77  1.82  0.97  65.03
15  16    66         66  1.88  0.93  67.01
16  17    27         27  2.31  0.76  78.06
17  18   114        113  1.52  0.94  59.48
18  19    34         34  2.18  0.76  76.00
19  20    58         57  1.73  0.72  69.61

In [27]:
# join fixtures_names and A_Z
Fixtures_538=fixtures_names.merge(A_Z,left_on='h_id',right_on='id')
Fixtures_538=pd.merge(Fixtures_538,A_Z,left_on='a_id',right_on='id')
Fixtures_538

,code,event,finished,finished_provisional,id_x,kickoff_time,minutes,provisional_start_time,started,team_a,...,prev_rank_x,off_x,def_x,spi_x,id,rank_y,prev_rank_y,off_y,def_y,spi_y
0,2210271,1,False,False,1,2021-08-13T19:00:00Z,0,False,False,1,...,65,1.74,0.83,67.01,1,13,13,2.18,0.42,83.72
1,2210404,14,False,False,134,2021-11-30T20:00:00Z,0,False,False,1,...,8,2.41,0.46,85.53,1,13,13,2.18,0.42,83.72
2,2210313,5,False,False,43,2021-09-18T14:00:00Z,0,False,False,1,...,68,1.85,0.92,66.79,1,13,13,2.18,0.42,83.72
3,2210513,25,False,False,243,2022-02-12T15:00:00Z,0,False,False,1,...,3,2.42,0.20,90.53,1,13,13,2.18,0.42,83.72
4,2210412,15,False,False,142,2021-12-04T15:00:00Z,0,False,False,1,...,43,1.86,0.70,72.28,1,13,13,2.18,0.42,83.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2210452,19,False,False,182,2021-12-26T15:00:00Z,0,False,False,3,...,25,1.97,0.51,78.71,3,65,65,1.74,0.83,67.01
376,2210446,18,False,False,176,2021-12-18T15:00:00Z,0,False,False,3,...,66,1.88,0.93,67.01,3,65,65,1.74,0.83,67.01
377,2210320,5,False,False,50,2021-09-18T11:30:00Z,0,False,False,3,...,57,1.73,0.72,69.61,3,65,65,1.74,0.83,67.01
378,2210339,7,False,False,69,2021-10-02T14:00:00Z,0,False,False,3,...,34,2.18,0.76,76.00,3,65,65,1.74,0.83,67.01
379,2210521,26,False,False,251,2022-02-19T15:00:00Z,0,False,False,3,...,13,2.18,0.42,83.72,3,65,65,1.74,0.83,67.01

In [28]:
Fixtures_538.to_csv('2021-2022_EPL_Fixtures.csv')

In [ ]:
#add aggregate xG,xGA from last season (19-21) into here to quantify CS% and %more than 2 goals

In [15]:
A_Z.dtypes

id             int64
rank           int64
prev_rank      int64
off          float64
def          float64
spi          float64
dtype: object